#### Lesson 2. Continue basic Python.  
#### Lesson 3. String and list function
**Topics**:
> 1. Assignment operators
> 2. Logical operators
> 3. Membership Operators
> 4. Identity Operators
> 5. String 
> 6. List
> 7. Conditions. If/elif/else - Match/case
> 8. Loops. While/for
> 9. Control flow statements 
> 10. Range

**Materials**:
> 1. [String with format](https://realpython.com/python-string-formatting/)
> 2. [List](https://www.programiz.com/python-programming/list)
> 3. [While/For loops](https://www.geeksforgeeks.org/loops-in-python/)
> 4. [Match Case](https://learnpython.com/blog/python-match-case-statement/)

In [35]:
print('Hello World!', 'Name: Sasha Surname:Ukrainets', 5 + 5)

Hello World! Name: Sasha Surname:Ukrainets 10

In [6]:
n = 5 + 5

In [7]:
print(n)

10

In [12]:
bool(1), bool(123), bool(''), bool(0), bool(0.0), bool(None)

(True, True, False, False, False, False)

In [13]:
True + True, False + True

(2, 1)

In [18]:
PI = 3.14
print(round(PI, 1))

3.1

In [20]:
from math import *

In [21]:
print(floor(PI), ceil(PI))

3 4

In [22]:
print(10 + 15)

25

In [23]:
print(-5, 6 + 5 + 5+ 6+ 10)
print(2 + 2 * 2)

-5

In [24]:
a = 5 # {-8 to +8}, {+, -,/, //, %, **, *}, {4}
print(id(a), a)

4356878712 5

In [29]:
x = 5
y = 2

print(x / y, x // y, x ** 2)

2.5 2 25

In [32]:
5 > 2, 5 == 2, 5 != 2

(True, False, True)

In [34]:
# Task 1 Second in day 
second_in_day = 60 * 60 * 24
print('Second in day: ', second_in_day)


# Task 2 Second in year 
second_in_year = 60 * 60 * 24 * 365
print('Second in year: ', second_in_year)


# Task 3. Create a, b, a equal 10, b equal 15. Do all arith operations {+, -, /, //, *}. Display result in new print
a = 10
b = 15 
print('a + b: ', a + b)
print('a - b: ', a - b)
print('a * b: ', a * b)
print('a / b: ', a / b)
print('a // b: ', a // b)

Second in day:  86400
Second in year:  31536000
a + b:  25
a - b:  -5
a * b:  150
a / b:  0.6666666666666666
a // b:  0

In [47]:
# print - display in bash 
print(10, 50, 30, 40, 100, sep = ' @', end = '\n') # sep - роздільник, end - кінцевий сим
name = 'Name1'
surname = 'Surname2'
print('Name: ' +  name, 'Surname: '+  surname, sep = '\n', end = '.')

10 @50 @30 @40 @100
Name: Name1
Surname: Surname2.

In [48]:
# input - from bash info
name = input('Enter you name:')
print('Hello ' + name)

Hello Sasha

In [2]:
number = 0
match number:
    case 0:
        print('D')
    case 1: 
        print('d')

D

In [54]:
# Concat - + strings 
# String - char
# sasha - row, apple - water
apple = 'Apple'
water = 'water'
print(apple + ' ' + water, apple * 5 )

Apple water AppleAppleAppleAppleApple

In [56]:
int('15')

15

In [59]:
# text - comment one line re-do this task
''' 
qwqwqwf
qwqefqjefo
qfqfqesvdkisvd
many line 
'''

' \nqwqwqwf\nqwqefqjefo\nqfqfqesvdkisvd\nmany line \n'

In [61]:
# Task 5. Відкрито нову планету. Slide: 35. Lesson 1
planet_name = input('Enter planet name: ') # input by user with placholder
planet_day_in_year = input('Enter planet day in year')  # input day in planet, with placholder
planet_second = (60 * 60 * 24) * int(planet_day_in_year) # second in day and mupt covert planet_day_in_year
print('Planet name: ' + planet_name,'\nPlanet day: ' + planet_day_in_year ,'\nPlanet second: ',planet_second) #output result

**************************************************
**************************************************
Planet name: Alfa
Planet day: 532
Planet second:  45964800

In [63]:
# Task 6. Перевірка віку людини. Slide: 35. Lesson 1
AGE_IN_MONTH = 12 * 18 # константа
person_age = int(input('Input person age in month: ')) / 12 
print(person_age > (12 * 18))

False

In [25]:
x = 5 
print(x)
x = x + 5
print(x)
x += 5 # Зліва операція 
print(x)

5
10
15

In [ ]:
age = 18
age += 1
print(age)

In [2]:
# Для чого потрібні коментарі?


# Що не так із назвою змінної?
# %name = 15 

# Що таке приоріт операцій? 

# I/O - function

# Що таке змінна? Основна характ?

#### Logical operators  
> **and** - логічне так  
> **or** - логічне або  
> **not** - логічне ні

In [5]:
18 > 17, 18 > 17 and  19 > 18, 18 > 17 and 18 > 19

(True, True, False)

In [6]:
18 > 17 or 18 > 19 # True and False

True

In [8]:
'string' > 1

TypeError: '>' not supported between instances of 'str' and 'int'

In [10]:
18 > 17 and 'string' > 1

TypeError: '>' not supported between instances of 'str' and 'int'

In [9]:
18 > 17 or 'string' > 1

True

In [11]:
'string' > 1 or 18 > 17

TypeError: '>' not supported between instances of 'str' and 'int'

In [12]:
not True, not False

(False, True)

In [13]:
True and True, True and False, not True

(True, False, False)

In [ ]:
name = 'abc'
age = 18
if age >= 18 and int(name) == 10:
    print('error')

In [ ]:
name = 'abc'
age = 18
if age >= 18 or int(name) == 10:
    print('error')

In [ ]:
print(f'not True: {not True} \nnot False {not False}')

&nAme = name 

name_2 = +

name_ = + 
_name = + 

PI = 3.14159

name_of_user =

##### In : This operator returns True if the value is found in the sequence, otherwise it returns False. 
##### Not in: This operator returns True if the value is not found in the sequence, otherwise it returns False.

In [14]:
auto_group = ['Jaguar', 'Porsche', 'Tesla']

print('Skoda' in auto_group)
print('Skoda' not in auto_group)

False
True

#### Is : This operator returns True if both variables refer to the same object in memory, otherwise it returns False
#### Not is: This operator returns True if both variables do not refer to the same object in memory, otherwise it returns False

In [17]:
x = 5
y = x 
q = 5 
t = 10
print(x is y, y is x, id(x), id(y), id(q))

True True 4542603640 4542603640 4542603640

In [ ]:
u = 5.0
print(id(u), id(x), x is u, x == u)

In [ ]:
arr = [1,2,3,5,6]
arr_1 = arr.copy() # [:]
print(arr, arr_1, arr == arr_1, id(arr), id(arr_1), arr is arr_1)

In [ ]:
arr.append(7)

In [ ]:
print(arr)
print(arr_1)

In [21]:
string = 'hello world!'
print(string, type(string), len(string), string[0], string[-2])

hello world! <class 'str'> 12 h d

In [23]:
print(f'Contcat: {string + string}')
print(f'Multiply: {string * 2}')
print(string[0], string[1]) # Index 0 for len(string)

Contcat: hello world!hello world!
Multiply: hello world!hello world!
h e

In [24]:
print(string[0:4]) # [start:end - не включно]

hell

In [25]:
print(string[0:4:2]) # [start:end - не включно: steps - кількість кроків  ]

hl

In [28]:
print(string[-1], string[-0], string[-3:], string[::-1])

! h ld! !dlrow olleh

#### Format - strings
> 1. Old style %   
> 2. Format - key-word  
> 3. F-strings

In [29]:
name = 'Sasha'
age = 18
surname = 'Surname'

print('Hello', name, '\nYou are years old', age,  '\nYou surname is ', surname, name)

Hello Sasha
You are years old 18
You surname is  Surname

In [30]:
print('Hello {0} \nYou are years old {1}\nYou surname is {2} \n{1} {2}'.format(name, age, surname))

Hello Sasha
You are years old 18
You surname is Surname
18 Surname

In [32]:
print('Hello {name} \nYou are years old {age}\nYou surname is {surname} \n{name}  {surname}, {plus}'.format(name = name, \
                                                                                                   age = age,  \
                                                                                                   surname = surname, \
                                                                                                   plus = name + ' ' + surname))

Hello Sasha
You are years old 18
You surname is Surname
Sasha  Surname, Sasha Surname

In [33]:
print(f'Hello {name} \nYou are years old {age}\nYou surname is {surname} {name + surname}')

Hello Sasha
You are years old 18
You surname is Surname SashaSurname

In [35]:
dir(name)[34::]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [36]:
name.capitalize()

'Sasha'

In [37]:
city = 'dNiPro'
city.capitalize()

'Dnipro'

In [39]:
city[1::].capitalize()

'Nipro'

In [40]:
city[0].upper() + city[1::].lower()

'Dnipro'

In [42]:
name.upper(), name.lower()

('SASHA', 'sasha')

In [45]:
'a' in name, 'b' in name

(True, False)

In [43]:
name.count('a')

2

In [46]:
test = 'Hello\nWorld\n'
print(test)

Hello
World

In [47]:
test = r'Hello\nWorld\n'
print(test)

Hello\nWorld\n

In [49]:
name = "Пам'ять \\ " # 
print(name)

Пам'ять \

In [50]:
sente = r'Hello World!\nMy name {name} and my surname \'{surname}\n\t\t{age}\t\t'
print(sente)

Hello World!\nMy name {name} and my surname \'{surname}\n\t\t{age}\t\t

In [52]:
# Task1. Прийняти від корустувача: марку, рік, тип двигуна. Вивезти всю інформацію use 3 - types of format - виправити 
mark_auto = input('Enter mark auto: ')
year_auto = input(f'Enter year auto: {mark_auto}: ')
type_of_engine = input('Enter type/size of engine: ')

# First, simple concat 
print('Mark: ', mark_auto, '\nYear: ', year_auto, '\nType of engine: ', type_of_engine, end = '\n\n')

# Second var, with format 
print('Mark: {mark}\nYear: {year}\mType of engine: {type}'.format(mark = mark_auto, year = year_auto, type = type_of_engine), end = '\n\n')


# Thierd var, using f-strings
print(f'Mark: {mark_auto} \nYear: {year_auto} \nType of engine: {type_of_engine}')

Mark:  aff
Year:  wqdqw
Type of engine:  34

Mark: aff
Year: wqdqw\mType of engine: 34

Mark: aff
Year: wqdqw
Type of engine: 34

In [ ]:
# [], {dict, set, format}, (tuple, generate function )

#### List
**List** - упорядкована колекці(має індекси), різних типів данних

In [ ]:
int(input(''))

In [55]:
dir(list)[34::]

['__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [64]:
my_first_list = []
print(my_first_list, type(my_first_list))

my_first_list.append(1)
my_first_list.append(2)
my_first_list.append([3, 4])
print(my_first_list, my_first_list[0])

[] <class 'list'>
[1, 2, [3, 4]] 1

In [61]:
second_list = list()
print(second_list, type(second_list))

[] <class 'list'>

In [66]:
arr = ['name', 'surname', 18, True, [], 3.14] # create list by using []
arr_1 = list() # create emp list or use []
print(arr)

['name', 'surname', 18, True, [], 3.14]

In [67]:
print(arr, type(arr), arr[0]) # Доступ до elements by index. Index 0 for len list
print(arr_1, type(arr))

['name', 'surname', 18, True, [], 3.14] <class 'list'> name
[] <class 'list'>

In [ ]:
arr.append(7) # add element if last position
print(arr)

In [69]:
arr.append([9, 10])
print(arr)

arr.extend([11, 12,11])
print(arr)

['name', 'surname', 18, True, [], 3.14, [9, 10], 11, 12, [9, 10]]
['name', 'surname', 18, True, [], 3.14, [9, 10], 11, 12, [9, 10], 11, 12, 11]

In [70]:
print(arr)
arr.pop(1)
print(arr)

['name', 'surname', 18, True, [], 3.14, [9, 10], 11, 12, [9, 10], 11, 12, 11]
['name', 18, True, [], 3.14, [9, 10], 11, 12, [9, 10], 11, 12, 11]

In [71]:
matrix = [
    [1,2,[3,4,5]], # 0
    [4,5,6], # 1
    [7,8,9] # 2
]

In [72]:
print(matrix[0][-1][0]) # 0 - [1,2,[3,4,5]], -1 - [3,4,5], 0 - 3
print(matrix[0][0], matrix[1][1], matrix[2][2])

3
1 5 9

In [73]:
a = [1,2,3,[4,5,[2,3,4],6,7],6,7] 
print(a)

[1, 2, 3, [4, 5, [2, 3, 4], 6, 7], 6, 7]

In [74]:
print(a[3][2][0])

2

In [78]:
# if/stat - Оператори Розгла
# if <operation> and/or/not <operation>:
age = 17
if age >= 18 and age <= 100:
    print('You can go bar')
elif age < 18:
    print('You can\'t go bar')
else: 
    print('No info ')

You can't go bar

In [ ]:
age = 101
if age >= 18 and age <= 100: # first statement
    # indent block
    print('You can go bar')
elif age <= 18: # next stat if first False
    print(f'wait {18 - age}')
else: # if other block false, than up to else
    print('No info')

In [82]:
from random import choice

auto = ['Jaguar', 'Porsche', 'Tesla', 'Reno']

val = choice(auto)
print(val)

match val: # val 
    case 'Jaguar': # val == 'Jaguar'
        print('Jaguar best car')
    case 'Porsche': print('It is not Jaguar 😟')
    case 'Tesla':   print('Buy Jaguar')
    case _ : print('error') # else block

Porsche
It is not Jaguar 😟

In [ ]:
# 1. Take an integer number as input and print if it’s “Even” or “Odd”.
# input, print, cast, if 

number = 15 # int(input('Enter number: '))
# You code - first var
if number % 2 == 0:
    print('Even')
else:
    print('Odd')
    
# second var 
if number % 2 == 0:
    print('Even')
elif number % 2 == 1:
    print('Odd')
else: 
    print('Error number')

# best - ternar
result = 'Even' if number % 2 == 0 else 'Odd'
print(result)

In [83]:
# 2. Take as inputs sides of rectangular and print “Big” if the area is larger than 100, otherwise “small”.
hei = 11 # int(input('Enter hei: '))
wei = 10 # int(input('Enter wei: '))

# First var
if (hei * wei) > 100:
    print('Big')
else:
    print('Small')

# Second var
result = 'Big' if (hei * wei) > 100 else 'Small'
print(result)

Big
Big

In [ ]:
# 3. Введіть назву фігури та відповідні параметри для того, щоб дізнатись її площу. 
# Виведіть напис «Великий», якщо площа більше 100, «Маленький», якщо менше. І якщо відповідь від'ємна – «Помилка»

In [ ]:
# Ромб, трик, квадрату, коло, прямокутник

In [ ]:
figure = ['Circle', 'Rectangle']

user_figure  = input('Enter you figure: ').capitalize()

if user_figure in figure:
    PI = 3.14159
    match user_figure: 
        case 'Circle':
            print(f'You figure is {user_figure}')
            r = float(input('Enter radi: ').strip())
            sq = 2 * (PI * r)
            print(f'Sq: {sq}. \nFormula: 2 * (PI * r)')
            if sq > 100:
                print('Великий')
            elif sq >= 0 and sq < 100:
                print('Маленький')
            else: 
                print('Помилка')
                
        case _ :
            print(f'You figure is {user_figure}')
            print('Something wrong, try later')
else:
    print('Wrong figure ')

In [ ]:
# 4. Take as input two real numbers and an operation (“+” or “-” or“/” or “*”) and calculate the result of the operation. 
# Watch for division by zero errors!

In [ ]:
0 / 15, 0 // 15

In [ ]:
number_1 = 10
number_2 = 15

operation = '+'.strip()

match operation:
    case '+':
        print(f'{number_1} + {number_2} = {number_1 + number_2}')
    case '-':
        print(f'{number_1} - {number_2} = {number_1 - number_2}')
    case '*':
        print(f'{number_1} * {number_2} = {number_1 * number_2}')
    case '/':
        res = number_1 / number_2 if number_2 != 0 else 'Number_2 equal 0'
        print(f'{number_1} / {number_2} = {res}')
    case '//':
        res = number_1 // number_2 if number_2 != 0 else 'Number_2 equal 0'
        print(f'{number_1} // {number_2} = {res}')
    case '**':
        print(f'{number_1} ** {number_2} = {number_1 ** number_2}')
    case _ :
        print(f'No information about operation {operation}')

In [4]:
# Task 1
print('hello')

# Task 2
print('first', 'last', 'second', sep = '\n', end = '\n') 

# Task 3
# True is True =  True, True is object = False 

# Task 4
# True in ['True', 'False'] = False, True not in ['True', 'False']

# Task 5. $, =, probil - delete
var_12 = 54

# Task 6. 
color = ['purple', 'yellow']

match color[0]:
    case 'blue':
        print('Color is blue')
    case 'red':
        print('Color is red')
    case 'purple':
        print('Blue purple')
    case _:
        print(f'Color is {color}')

hello
first
last
second
Blue purple

In [ ]:
# Task 1. Add key-words
___('hello') # display text  print


___('first', 'last', 'second', ___ = '\n', ___ = '\n') # Add end syb and separator 
# print sep, end
print('first', 'last', 'second', sep = '\n', end = '\n') 

print(True is True, True is object) # what return?


print(True in ['True', 'False'], True not in ['True', 'False']) # what return?

# спец знак на початку, не повн бути пробілів, = 
$var _12 == 54 # how to fix 

# ['blue', 'purple']
color = ___ # create a list with two colors
# [0]
match color___ # extract first value 
    ___ 'blue':
        print('Color is blue')
    ___ 'red':
        print('Color is red')
    ___ 'purple':
        print('Blue purple')
    ___ _:
        print(f'Color is {color}')
        
        
# Task 2. Strings - formating - old style, format, f-strings
# Task 3. List - list operation 
# Task 4. Оператори розгал - if-statement/match-case

In [3]:
# True, False
print(True is True, True is object) # what return?

# True False
print(True in ['True', 'False'], True not in ['True', 'False']) # what return?

True False
False True

In [5]:
dir(list)[34::]

['__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [6]:
a = 18
x = 5

In [7]:
x += 1 # increment 
print(x)
x = x + 1
print(x)

6
7

In [8]:
x **= 2
print(x)
x *= 2
print(x)

49
98

In [ ]:
# Task 1
# Add some command to solve task
if a >= 18:
    print('You can go bar')
elif a < 18:
    print('You can\'t go')
else:
    print('Error age')

In [24]:
symbol = '+'
match symbol:
    case '+': # if == 
        print('+')
    case '-': # elif
        print('-')
    case _ : # else 
        print(f'Symbol: {symbol}')

+

In [9]:
status_code = '200'
match status_code:
    case '200':
        print('All okey')
    case '404':
        print('Error connect')
    case _ as E:
        print(f'Unkwown status code {E}')

All okey

In [32]:
if status_code == '200':
    print('All okey')
elif status_code == '404':
     print('Error connect')
else:
    print(f'Unkwown status code {status_code}')

All okey

#### And 
> False True - 0, 1   - False  
> True False - 1, 0   - False  
> False False - 0, 0  - False  
> True True - 1, 1    -  True

#### Or 
> True False - 1, 0 - True  
> False True - 0, 1 - True  
> True True  - 1, 1 - True  
> False False - 0, 0 - False

#### not логічне ні
> True -> False   
> False -> True

In [ ]:
10 > 5 and 15 > 10 # 10 > 5 = True, 15 > 10 = True  True and True -> True

In [11]:
i = 17
b = 'str'

print(i < 18 or b ** 2 == 3)
#print(b ** 2 == 3 or i < 18)
# print(i < 18 and b ** 2 == 3)

True

In [10]:
# Task 2
(not True) == False

True

In [44]:
arr = []

arr.append(5)
print(arr)

arr.append('10')
print(arr)

print(arr[0], arr[-1])

[5]
[5, '10']
5 10

In [47]:
arr.append((6,7,8))
print(arr)

[5, '10', [6, 7, 8], (6, 7, 8)]

In [48]:
arr.extend([6,7,8])

In [49]:
print(arr)

[5, '10', [6, 7, 8], (6, 7, 8), 6, 7, 8]

In [53]:
arr_ = [1,2,3, 4,5 ,'six', 'seven']
print(arr_[1:3])

[2, 3]

In [66]:
print(arr_[-1], len(arr_), arr_[-1:-4:-1]) # start end step

seven 7 ['seven', 'six', 5]

#### While/For loops

In [ ]:
while True:
    print('a')

In [12]:
a = 0 
while True:
    if a == 3:
        print('a')
        break

KeyboardInterrupt:

In [17]:
number = [i for i in range(1,11)]

for i in number:
    if i % 2 != 0:
        continue
    else:
        print(i)
else:
    print('All done')

2
4
6
8
10
All done

In [13]:
number = 1

while number <= 5:
    print(number)
    number += 1
else:
    print('All done')

1
2
3
4
5
All done

In [73]:
arr = [i for i in range(100)]
arr_ = [i for i in range(10)]

def help_(arr: list):
    counter = 0
    while True:
        if counter == len(arr):
            break
        else:
            print(arr[counter], counter)
            counter += 1
    else:
        print('End loop')

In [74]:
help_(arr)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
10 10
11 11
12 12
13 13
14 14
15 15
16 16
17 17
18 18
19 19
20 20
21 21
22 22
23 23
24 24
25 25
26 26
27 27
28 28
29 29
30 30
31 31
32 32
33 33
34 34
35 35
36 36
37 37
38 38
39 39
40 40
41 41
42 42
43 43
44 44
45 45
46 46
47 47
48 48
49 49
50 50
51 51
52 52
53 53
54 54
55 55
56 56
57 57
58 58
59 59
60 60
61 61
62 62
63 63
64 64
65 65
66 66
67 67
68 68
69 69
70 70
71 71
72 72
73 73
74 74
75 75
76 76
77 77
78 78
79 79
80 80
81 81
82 82
83 83
84 84
85 85
86 86
87 87
88 88
89 89
90 90
91 91
92 92
93 93
94 94
95 95
96 96
97 97
98 98
99 99

In [75]:
help_(arr_)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9

In [22]:
number = 1

while number <= 10:
    print(number, t )
    number += 1
else:
    print('End loop')

1 10
2 10
3 10
4 10
5 10
6 10
7 10
8 10
9 10
10 10
End loop

In [23]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [30]:
# range - [) - діапозон 
range(0, 10)

# string string 
name = 'string string'
for i in range(0, len(name)): # iter 
    print(name[i],i)

s 0
t 1
r 2
i 3
n 4
g 5
  6
s 7
t 8
r 9
i 10
n 11
g 12

In [34]:
for i in range(0, 10):
    if i % 2 != 0:
        continue
    else:
        print(i)

0
2
4
6
8

In [35]:
# Compr list 
arr = []

for i in range(1, 10):
    arr.append(i)
    
print(arr)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
arr = [i for i in range(1, 10)]
print(arr)

# <list_name> = [<value_save> for <iterator> in <some collection>]
arr_1 = [i for i in range(1,10) if i % 2 == 0]
print(arr_1)

# <list_name> = [<value_save> for <iterator> in <some collection> if <some condit>]

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]

In [41]:
arr = [i for i in range(0, 10)]
for i in arr:
    if i % 3 == 0 and i != 0:
        continue
    elif i == 8:
        print(i)
        break 
    else:
        print(i)

0
1
2
4
5
7
8

In [42]:
range_ = range(0, 10, 3)
str_ = 'string'
for i in range(9, 0, -2):
    print(i)
    print(str_[i],i)

9

IndexError: string index out of range

In [43]:
for name in range(0, 10):
    print(name)

0
1
2
3
4
5
6
7
8
9

In [44]:
for i in str_:
    print(i)

s
t
r
i
n
g

In [46]:
for i in range(len(str_), 0 , -1):
    print(i, str_[-i])

6 s
5 t
4 r
3 i
2 n
1 g

In [52]:
# Task 1. Цикл - створити список із 10 element use - loops: while/for

# While loop
i = 1 
arr_1 = []
while len(arr_1) < 10:
    arr_1.append(i)
    i += 1 
print(arr_1)

# for 
arr_2 = []
for i in range(1, 11):
    arr_2.append(i)
    
print(arr_2) 

# list comp 
arr_3 = [i for i in range(1, 11)]
print(arr_3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
# Task 2. Take as input 10 real numbers and calculate their average.
# Task 3. Print all multiples of 14 smaller than 1000.
# Task 4. Take an integer as input and test whether or not it is prime (a prime number is divisible only by 1 and itself).


# Task 2

# var 1 
arr = []
N = int(input('Enter n-value: ')) # N = 10
while len(arr) < N:
    number = int(input('Enter number: '))
    if number > 0: # Example of code 
        arr.append(number)
    else:
        continue
else:
    print('Done:', arr)

s = 0
for i in arr:
    s += i  

avg_ = s / len(arr)
print(avg_)

Done: [2, 15]
8.5
2.5

In [5]:
# Task 1. Згенерувати список значеннь, від min до max. Min/Max - задає користувач 
#  Знайти в ньому суми чисел, для всіх значеннь які парні 

# 1 - var
min_num = 5 # rstrip, int
max_numb = 10 # rstrip, int

min_num, max_num = int(input('Enter min value: ').rstrip()), int(input('Enter max value: ').rstrip())
result = 0
if min_num > max_numb:
    print('False')
else:
    for i in range(min_num, max_numb + 1): # O(N)
        if i %  2 == 0:
            result += i

# 2 - var
result_sum = sum([i for i in range(min_num,max_numb + 1) if i % 2 == 0])
print(f'Result sum: {result_sum}')

Result sum: 24

In [7]:
# Task 2. Count vowels in string, string enter values from user

# 1 - var
string = input('Enter you string: ').rstrip().lower()

vowels = ['a', 'i', 'u', 'o', 'y', 'e']
count_ = 0
for i in string:
    if i in vowels:
        count_ += 1
        
print(f'Total values: {count_}')

# 2 - var 
count_ = sum([1 for i in string if i in vowels])
print(count_)

Total values: 2
2

In [ ]:
# Task 3. Calculate sum of string. For calculate sum - using function ord
# string -> s - 98, t - 99, -> sum
string = input('Enter string to calculate: ').rstrip()

result = 0
# 1 - var 
for i in string:
    result += ord(i)

# 2 - var
result = sum(ord(i) for i in string)

In [ ]:
# Task 4. Check if all char in strings is number. String - it is user number

string = '1234'
# 1 - var
if string.isdigit():
    print(True)
    
# 2 - var
number = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

for i in string:
    if i in number:
        continue
    else:
        break

In [ ]:
# Task 5.  User enter number. Next calculate power number from 1 to 10
# 5, 5 ** 1, 5 ** 2 .. 5 ** 10

In [ ]:
# Task 6. Check if first symbol in strings equal last symbol in strings.

In [8]:
# Task 7. Password check. If password have: спец символ, + 15б, більше 8 літер + 10б, має заглавну літеру +5б, містить число +2
# +1 for symb
# Create groups
password = input('Enter you password: ').rstrip()

count_ = 0

if len(password) > 8:
    count_ += 10
    
for i in password:
    if not i.isdigit() and not i.isalpha() and i not in ['.', '_', '-',',']:
        count_ += 15
    elif i == i.upper(): # isupper()
        count_ += 5
    elif i.isdigit():
        count_ += 2
    else:
        count_ += 1
        
if count_ < 50:
    print(f'Week password {count_}')
elif count_ > 50 and count_ < 65:
    print('Middle password')
else:
    print('High password')

Week password

In [ ]:
# String:
   # Task 1. Write a program that takes a string and returns it in reverse order.
   # Task 2. Check if the input string is a palindrome, disregarding case and spaces.
   # Task 3. Write a program that counts the number of words in a sentence.
  
# task 1 

# var -  1
string = 'hello'
print(string[::-1])

# var - 2
print(string.sort())

# task 2 
string = 'helleH'.lower()

print(string == string[::-1])

# task 3 
string = 'hello world'

count_ = 0
for i in string.split(' '):
   count_ += 1 
   
# var - 2
print(len(string.split(' '))

In [24]:
#Loops:
   # Task 1. Take as input 10 real numbers and calculate their average.
# Task 2. Print all multiples of 14 smaller than 1000.
# Task 3. Take an integer as input and test whether or not it is prime (a prime number is divisible only by 1 and itself).
# Task 4. Take as input two real numbers and an operation (“+” or “-” or “/” or “*”) and calculate the result of the operation.
# Watch for division by zero errors!


# task 3
prime = 13
for i in range(2, prime // 2 + 1):
   if prime % i == 0:
      print('False')
      break
else:
   print('True')
   
# task 4 
number = 5
number_2 = 0
operation = '/'

match operation:
   
   case '/':
      if number_2 != 0:
         print(number / number_2)
   
   case '//':
      if number_2 != 0:
         print(number / number_2)

True

In [27]:
# Task *. Напишіть програму, що виводить таблицю множення, але у зворотному порядку: від 10х10 до 1х1
n = 10
for i in range(n, 0, -1):
    for j in range(n, 0, -1):
        print(f' {i} * {j} = {i*j}')

 10 * 10 = 100
 10 * 9 = 90
 10 * 8 = 80
 10 * 7 = 70
 10 * 6 = 60
 10 * 5 = 50
 10 * 4 = 40
 10 * 3 = 30
 10 * 2 = 20
 10 * 1 = 10
 9 * 10 = 90
 9 * 9 = 81
 9 * 8 = 72
 9 * 7 = 63
 9 * 6 = 54
 9 * 5 = 45
 9 * 4 = 36
 9 * 3 = 27
 9 * 2 = 18
 9 * 1 = 9
 8 * 10 = 80
 8 * 9 = 72
 8 * 8 = 64
 8 * 7 = 56
 8 * 6 = 48
 8 * 5 = 40
 8 * 4 = 32
 8 * 3 = 24
 8 * 2 = 16
 8 * 1 = 8
 7 * 10 = 70
 7 * 9 = 63
 7 * 8 = 56
 7 * 7 = 49
 7 * 6 = 42
 7 * 5 = 35
 7 * 4 = 28
 7 * 3 = 21
 7 * 2 = 14
 7 * 1 = 7
 6 * 10 = 60
 6 * 9 = 54
 6 * 8 = 48
 6 * 7 = 42
 6 * 6 = 36
 6 * 5 = 30
 6 * 4 = 24
 6 * 3 = 18
 6 * 2 = 12
 6 * 1 = 6
 5 * 10 = 50
 5 * 9 = 45
 5 * 8 = 40
 5 * 7 = 35
 5 * 6 = 30
 5 * 5 = 25
 5 * 4 = 20
 5 * 3 = 15
 5 * 2 = 10
 5 * 1 = 5
 4 * 10 = 40
 4 * 9 = 36
 4 * 8 = 32
 4 * 7 = 28
 4 * 6 = 24
 4 * 5 = 20
 4 * 4 = 16
 4 * 3 = 12
 4 * 2 = 8
 4 * 1 = 4
 3 * 10 = 30
 3 * 9 = 27
 3 * 8 = 24
 3 * 7 = 21
 3 * 6 = 18
 3 * 5 = 15
 3 * 4 = 12
 3 * 3 = 9
 3 * 2 = 6
 3 * 1 = 3
 2 * 10 = 20
 2 * 9 = 18
 2 * 8 = 16
 2 * 7 = 14
 2 * 6 = 12
 2 * 5 = 10
 2 * 4 = 8
 2 * 3 = 6
 2 * 2 = 4
 2 * 1 = 2
 1 * 10 = 10
 1 * 9 = 9
 1 * 8 = 8
 1 * 7 = 7
 1 * 6 = 6
 1 * 5 = 5
 1 * 4 = 4
 1 * 3 = 3
 1 * 2 = 2
 1 * 1 = 1

In [29]:
N = 5
res = []
while N != 0:
    string = input('Enter value: ').strip()
    res.append(string) 
    N -= 1

In [30]:
res

['4', '2', '5', '1', '5']

In [31]:
string = input('Enter value by sep: ').split(',')

print(string)

['1', ' 34', ' 5', ' 67', ' 890']

In [28]:
string_numbers = [input('Enter number: ').rstrip() for i in range(0, 10)]
print(string_numbers)

['12', '10', '4', '2', '3', '6', '7', '890', '907', '1000']

In [36]:
for i in ['Apple', 'Melon', 'Raws']:
    print(i)  # 1 - Apple, 2 - Melon, 3 - Raws

Apple
Melon
Raws

In [41]:
fruits = ['Apple', 'Melon', 'Raws', ',']
for i in range(0, len(fruits)):
    print(i, fruits[i])

0 Apple
1 Melon
2 Raws
3 ,

In [48]:
5 != 10

True

In [54]:
i = 0
while i != len(fruits): 
    print(fruits[i], i, fruits[i][0], len(fruits[i])) 
    i += 1

Apple 0 A 5
Melon 1 M 5
Raws 2 R 4
, 3 , 1

In [25]:
# var 2 
arr_2 = []
n_value = int(input('Enter len of array:'))

if n_value > 0:
    for i in range(1, n_value + 1):
        item = int(input('Enter value: '))
        arr_2.append(item) 
        
avg_2 = sum(arr_2) / len(arr_2)
print(avg_2)

10.0

In [26]:
# var 3 
N = 2
arr_3 = [float(input('Enter value: ')) for i in range(0, N)]
print(arr_3)
avg_3 = sum(arr_3) / len(arr_3)
print(avg_3)

[15, 5]
10.0

In [34]:
string = '1,2'.split(',')
print(string)

['1', '2']

In [35]:
# var 4 - Не бажано 
enter_serias = input('Enter 10 values, sep by comma: ').split(',') 
arr = [int(i) for i in enter_serias]
print(sum(arr) / len(arr)) # or save to avg_

10.0

In [24]:
# var 5 
N = 10
result = sum([int(input('Enter value:')) for i in range(0, N)]) / N
print(result)

5.0